*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col-33{
    width: 33.33%;
}
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
}
.col-60{
    width: 60%;
}
.top{
    color: darkorange;
    font-size: 50px;
    z-index: 10;
    position: fixed;
    bottom: 80px;
    right: 50px;
}
#header{
    background-color: rgb(113, 248, 171);
}
.navlogo{
    font-size: 20px;
    letter-spacing: 1px;
}
.navlogo span{
    color: orange;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.navlist{
    display: flex;
    list-style-type: none;
}
.navlist a{
    padding: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main h1{
    font-size: 70px;
    padding-top: 80px;
    font-weight: lighter;    
}
h1 span{
    font-weight: bold;
}
main p{
    font-size: 20px;
    margin: 50px 130px 50px 0;
    line-height: 30px;
}
main button{
    background-color: darkorange;
    color: white;
    padding: 18px 40px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 110px;
}
#header .col-40{
    padding-top: 40px;
}

.sec2{
    padding-left: 50px;
}
#section2{
    position: relative;
}
#section2 img{
    border: 5px solid white;
    border-radius: 10px;
}
#image1{
    position: absolute;
    top: 100px;
}
#image2{
    position: absolute;
    top: 200px;
    left: 250px;
}
#section2 h3{
    margin-top: 120px;
    font-size: 25px;
    font-weight: lighter;
}
#section2 h2{
    font-size: 45px;
    padding: 20px 0;
}
.sec2 span{
    color: darkorange;
}
.quote{
    font-style: italic;
    font-weight: 600;
}
#section2 p{
    line-height: 30px;
    padding: 10px 0;
    margin-right: 20px;
}
.sec2 img{
    padding: 50px 0;
}

.sec3{
    gap: 30px;
    margin-bottom: 100px;
}
.sec3 .col-33{
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
#section3 h2{
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
#section3 span{
    color: darkorange;
}
.sec3 img{
    border: 5px solid white;
    border-radius: 200px;
}
.sec3 h3{
    font-size: 25px;
    padding: 20px 0;
}
.sec3 p{
    line-height: 30px;
}

#section4{
    background-color: rgb(113, 248, 171);
    position: relative;
    padding: 30px 0;
}
#sec4img{
    position: absolute;
    top: -40px;
    right: 0;
}
#section4 h2{
    font-size: 45px;
    padding: 100px 0 20px 0;
}
#section4 span{
    color: darkorange;
    font-weight: lighter;
}
#section4 p{
    line-height: 30px;
    margin-right: 50px;
    letter-spacing: 0.5px;
}
#section4 button{
    background-color: darkorange;
    color: white;
    padding: 18px 40px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin: 50px 0 80px 0;
}

#section5{
    margin-top: 100px;
    margin-bottom: 50px;
    /* margin: 100px 70px 50px 70px; */
}
.second{
    padding: 50px 0;
}
.logo{
    font-size: 40px;
    color: darkorange;
}
#section5 h2{
    display: inline-block;
    padding: 10px 20px;
}
#section5 p{
    font-size: 16px;
    margin: 0 80px 0 55px;
    letter-spacing: 0.5px;
    line-height: 30px;
}


#section6 h2{
    padding-top: 120px;
    font-size: 45px;
}
#section6 span{
    color: darkorange;
    font-weight: lighter;
}
#section6 p{
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-right: 120px;
    padding: 10px 0;
}
#section6 button{
    background-color: darkorange;
    color: white;
    padding: 18px 40px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

#section7 .row{
    gap: 30px;
}
#section7{
    background-color: rgb(113, 248, 171);
}
.mark{
    padding-top: 100px;
}
#section7 p{
    line-height: 30px;
    letter-spacing: 0.5px;
    margin: 20px 20px 20px 0px;
}
.testi{
    border-radius: 100px;
    width: 30%;
    margin: 40px 0px;
}


#footer .center{
    margin: 100px 250px;
    text-align: center;
}
.center h2{
    font-size: 45px;
    padding-bottom: 20px;
}
.center input{
    padding: 18px;
    font-size: 15px;
    width: 70%;
    border: 1px solid lightgray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.center button{
    border: none;
    padding: 18px 40px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#footer h4{
    padding: 20px 0;
}
#footer p{
    line-height: 25px;
    margin-right: 40px;
}
#footer ul li{
    list-style-image: url(images/right_arrow.png);
    list-style-position: inside;
    padding: 10px 150px 10px 0;
    font-size: 15px;
    line-height: 25px;
}
#credits{
    padding: 60px;
    text-align: center;
}