* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.container {
    /* width: 90%; */
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col33 {
    width: 33.33%;
}

.col50 {
    width: 50%;
}

#header {
    background: url(images/banner.png) center center/cover;
    position: relative;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 50px;
}

.contact {
    display: flex;
}

.contact>p {
    color: #3d2514;
    font-weight: 700;
    padding: 10px 0 0 10px;
}

.nav2>.navmenu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav2>.navmenu>li>a {
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    margin-left: 40px;
}

#main {
    margin: 100px 50px 180px 0px;
}

#main>p {
    font-size: 15px;
    border: 2px dashed #3d2514;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 800;
    padding: 10px;
    margin-right: 220px;
}

#main>h1 {
    font-size: 120px;
    text-transform: uppercase;
    color: #3d2514;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}

#main>h3 {
    font-size: 60px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: bold;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}

.burger {
    width: 20%;
    position: absolute;
    bottom: 100px;
    right: 250px;
    z-index: 10;
}

.drink {
    width: 9%;
    position: absolute;
    bottom: 110px;
    right: 205px;
    z-index: 5;
}

.fries {
    width: 15%;
    position: absolute;
    bottom: 160px;
    right: 400px;
    z-index: 5;
}

.bshadow {
    width: 25%;
    position: absolute;
    bottom: 75px;
    right: 220px;
}

.dshadow {
    width: 14%;
    position: absolute;
    bottom: 90px;
    right: 165px;
}

.glow {
    width: 40%;
    position: absolute;
    bottom: 50px;
    right: 110px;
    z-index: 1;
}

.offer {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 200px;
    background-color: red;
    padding: 15px 15px;
    position: absolute;
    bottom: 95px;
    right: 496px;
    z-index: 12;
    border: 2px dashed white;
}

.big {
    font-size: 40px;
}

.offborder {
    border: none;
    border-radius: 200px;
    background-color: red;
    padding: 55px;
    position: absolute;
    bottom: 90px;
    right: 490px;
    z-index: 11;
}

#section2 {
    margin: 60px auto;
}

#section2>.row {
    gap: 40px;
    font-family: sans-serif;
}

.sec2-1 {
    background: url(images/sec2Burger.png) center center/cover;
    border-radius: 10px;
}

.sec2-2 {
    background: url(images/sec2top.png) center center/cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sec2-3 {
    background: url(images/sec2bot.png) center center/cover;
    border-radius: 10px;
    margin-top: 20px;
}

#section2 h4 {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    padding: 25px 0 0 25px;
}

#section2 h2 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    padding: 0 0 100px 25px;
}

.tasty {
    text-align: center;
    margin: 50px auto;
}

.tasty h3 {
    display: inline-block;
    text-transform: uppercase;
    background-color: #ffc045;
    color: #3d2514;
    padding: 10px;
}

#section3 {
    font-family: sans-serif;
}

#section3>h2 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #3d2514;
}

#section3>p {
    margin: 10px 150px;
    text-align: center;
    line-height: 29px;
    color: #3d2514;
}

.sec3 {
    padding-top: 30px;
    gap: 100px;
    /* margin: 0 50px; */
    text-align: center;
    justify-content: center;
}

.sec3 h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
}

.sec3 p {
    padding: 10px 0;
    /* font-size: 18px; */
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
}

.sec3 button {
    border: none;
    text-transform: uppercase;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 100px;
    margin: 20px auto;
}

.box4 {
    filter: drop-shadow(18.656px 24.758px 21.5px rgba(0, 0, 0, 0.17));
    background-color: white;
    padding: 15px;
}

#section4 {
    margin: 100px auto;
}

.sec4 h5 {
    padding: 20px 0 0 17px;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d3d3d;
}

.sec4 h3 {
    font-size: 50px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #3d2514;
}

.sec4 p {
    margin: 15px 20px 0 15px;
    /* width: 531px; */
    /* height: 173px; */
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #3d3d3d;
}

.ellipse {
    margin-top: 100px;
    margin-left: 15px;
}

#section5 {
    position: relative;
    /* padding-bottom: 100px; */
    overflow: hidden;
}

.box5 {
    padding-bottom: 100px;
}

.box5 h5 {
    font-size: 29px;
    text-align: center;
    /* letter-spacing: 2px; */
    padding-top: 50px;
    text-transform: uppercase;
    color: #3d2514;
}

.box5 h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    /* letter-spacing: 3px; */
    text-transform: uppercase;
    color: #3d2514;
}

form {
    margin: 50px 0;
}

.form1 {
    text-align: right;
}

input {
    margin: 10px;
    font-weight: bold;
    padding: 15px;
    width: 300px;
}

#section5 button {
    margin: 10px;
    padding: 15px;
    width: 300px;
    background-color: red;
    font-weight: bold;
    color: white;
    border: none;
}

.image5_1 {
    position: absolute;
    top: -60px;
    left: -80px;
}

.image5_2 {
    position: absolute;
    top: 140px;
    left: 150px;
}

.image5_3 {
    position: absolute;
    top: 95px;
    right: -270px;
    /* z-index: 100; */
}

#footer {
    background: url(images/mainfoot.png)center center/cover;
    margin-bottom: 50px;
}

.left {
    margin-left: 40px;
}

.left>img {
    padding: 75px 0 50px 0px;
}

#footer p {
    width: 520px;
    font-size: 17px;
    line-height: 25px;
    color: white;
    padding-right: 80px;
}

.company {
    padding-bottom: 20px;
    padding-top: 150px;
}

.right {
    margin-top: 200px;
}

.right img {
    padding: 5px;
}

.location,
.email {
    display: flex;
    align-items: center;
}

.foot h5 {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.social {
    margin-right: 20px;
    margin-top: 180px;
    display: flex;
    justify-content: flex-end;
}


/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .col33 {
        width: 100%;
    }

    .col50 {
        width: 100%;
    }
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .col33 {
        width: 50%;
    }

    .col50 {
        width: 100%;
    }
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .col33 {
        width: 33.33%;
    }

    .col50 {
        width: 50%;
    }
} */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .row{
        flex-wrap: nowrap;
    }

    .col33 {
        width: 33.33%;
    }

    .col50 {
        width: 50%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .row{
        flex-wrap: nowrap;
    }

    .col33 {
        width: 33.33%;
    }

    .col50 {
        width: 50%;
    }
}