*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: sans-serif;
}
.container{
    /* width: 90%; */
    width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jst-cnt-cen{
    justify-content: center;
}
.al-itm-cen{
    align-items: center;
}
.col-50{
    /* width: 50%; */
    width: 100%;
}
.col-33{
    /* width: 33.33%; */
    width: 100%;
}
.col-25{
    /* width: 25%; */
    width: 100%;
}


#header{
    background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.7));
    background: url(img/banner.png)center center/cover;
}
.wrapper{
    background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.7));
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
    align-items: center;
    position: relative;
}
.nav>ul{
    /* display: flex; */
}
.nav li{
    list-style-type: none;
}
.nav a{
    color: #000b2c;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 40px;
}.nav a:hover{
    text-decoration: underline 3px #ff4a00;
}
#navbar input{
    display: none;
}
#navbar label{
    cursor: pointer;
    color: white;
    font-size: 40px;
}
.logo2{
    padding-bottom: 8px;
}
.maintext>h1{
    font-size: 125px;
    padding-top: 20px;
    color: #000b2c;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";
}
.maintext>h4{
    padding: 20px 0;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ff4b00;
}
.maintext>p{
    margin-right: 72px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #122341;
    font-weight: 400;
}
.maintext>button{
    margin: 30px 0 80px 0;
}
#section2{
    position: relative;
    overflow: hidden;
}
.ban2{
    position: absolute;
    top: 0;
    right: -42px;
    z-index: -10;
}
#section3{
    position: relative;
    overflow: hidden;
    text-align: right;
}
.ban3{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    height: 670px;
}
#section4{
    position: relative;
    overflow: hidden;
}
.ban4{
    position: absolute;
    bottom: 0px;
    right: -35px;
    z-index: -10;
}
.btn{
    font-size: 33px;
    letter-spacing: 2px;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 15px;
    background-color: #ff4a00;
}
.coffee-h2{
    font-size: 90px;
    letter-spacing: 5px;
    color: #000b2c;
    font-weight: 700;
    font-style: italic;
    font-family: "Cormorant Garamond";
    margin-top: 100px;
}
.coffee-p{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 27px;
    color: white;
    padding: 20px;
    text-align: center;
}
hr{
    border: 2px solid #122341;
}
.gift{
    margin: 20px 0;
    border: 10px solid #122341;
}
.free{
    display: flex;
    align-items: center;
    position: relative;
}
.leaf{
    position: absolute;
    bottom: 0px;
    left: 420px;
}
.circle{
    background-color: #000b2c;
    text-align: center;
    margin: 50px;
    padding: 70px 0px;
    border-radius: 200px;
    border: 10px solid #ff4a00;
}
.circle h2{
    font-size: 100px;
    color: white;
    padding-top: 30px;
    font-weight: 200;
}
.voucher h2{
    font-size: 80px;
    letter-spacing: 4px;
    color: #122341;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding: 20px 0 40px 0;
}
.voucher h3{
    font-size: 30px;
    color: #122341;
    text-align: center;
    background-color: rgb(238, 180, 180);
    padding: 10px 0;
    margin: 0 100px;
    border-radius: 8px;
    border: 2px solid #ff4a00;
}
.voucher p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #122341;
    text-align: center;
    padding: 40px 0;
    margin: 0 80px;
}
.about{
    background-color: #f6f6f4;
    margin: 50px 0;
}
.about>h2{
    font-size: 88px;
    letter-spacing: 4px;
    color: #122341;
    font-weight: 300;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding: 30px;
}
.about>p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #122341;
    text-align: center;
    padding: 20px 30px;
}
#section6 h2{
    font-size: 80px;
    color: #000b2c;
    font-weight: 100;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding-bottom: 20px;
}
.sec6{
    padding: 30px;
    background-color: #000b2c;
}
.sec6 h4{
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    font-weight: 200;
    font-family: "Cormorant Garamond";
    text-align: center;
    margin: 20px 0;
}
.sec6 p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: white;
    font-family: "Cormorant Garamond";
    text-align: center;
    margin: 0 50px;
    padding-bottom: 70px;
}
#section7 h2{
    font-size: 70px;
    letter-spacing: 4px;
    color: #122341;
    font-weight: 200;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding-top: 80px;
}
.week, .end{
    width: 60%;
    margin: 0 auto;
}
.week h4{
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin: 40px 0;
    font-weight: 100;
    filter: drop-shadow(4.5px 7.794px 4.5px rgba(0,0,0,0.64));
    background-color: #233e6a;
    padding: 40px 0;
}
.end h4{
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin: 40px 0 140px 0;
    font-weight: 100;
    filter: drop-shadow(4.5px 7.794px 4.5px rgba(0,0,0,0.64));
    background-color: #233e6a;
    padding: 40px;
}
#section8 h2{
    font-size: 60px;
    letter-spacing: 4px;
    color: #122341;
    font-weight: 200;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding-bottom: 50px;
}
.row8{
    gap: 80px;
    padding-bottom: 100px;
}
.sec8 img{
    width: 100%;
}
.sec8{
    filter: drop-shadow(4.5px 7.794px 4.5px rgba(0,0,0,0.64));
    background-color: #233e6a;
}
.sec8 h4{
    font-size: 33px;
    letter-spacing: 2px;
    color: white;
    margin: 20px 0;
    margin-right: 100px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ff4a00;
}
#section8 p{
    font-size: 13px;
    line-height: 28px;
    color: white;
    text-align: center;
    background-color: #000b2c;
    margin: 20px;
    padding: 30px 10px;
}
#footer{
    margin-top: 100px;
    background-image: linear-gradient(180deg, #122341 0%, #122341 58%, #000b2c 100%);
}
.botlogo{
    padding: 80px 0;
}
.foot h4{
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    padding-top: 100px;
    padding-bottom: 40px;
}
.foot a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}
.connect{
    padding: 100px 0 50px 0;
}
.link ul{
    display: flex;
}
.link a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-right: 45px;
}
.social{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}
.social img{
    padding-left: 20px;
}
/* files for our layout, grid system, and components. */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

@media (max-width: 575px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .col-50{
        width: 100%;
    }
    .col-33{
        width: 100%;
    }
    .col-25{
        width: 100%;
    }
    #navbar{
        padding: 50px 0;
    }
    .nav{
        display: none;
    }
    #navbar #nav-btn:checked ~ .nav{
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
        padding: 0px 210px;
        background-color: rgba(0,0,0,0.7);
    }
    .nav a{
        padding: 8px 0;
        display: block;
        color: white;
    }
    #section2 button{
        margin: 50px 0;
    }
    #section3 .row{
        flex-direction: column-reverse;
    }
    #section3 button{
        margin: 50px 0;
    }
    #section4 button{
        margin: 50px 0;
    }
    .ban4, .ban3 , .ban2{
        display: none;
    }
    .hright, .hleft{
        background-color: #122341;
    }
    .img2, .img4{
        width: 50%;
        position: absolute;
        top: 50px;
        left: 360px;
    }
    .img3{
        width: 50%;
        position: absolute;
        top: 50px;
        left: -50px;
    }
    .bod2, .bod4{
        width: 54%;
        position: absolute;
        top: 40px;
        left: 350px;
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.26));
    }
    .bod3{
        width: 54%;
        position: absolute;
        top: 35px;
        left: -60px;
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.26));
    }
    .leaf{
        display: none;
    }
    .row8{
        margin: 0 105px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .col-50{
        width: 100%;
    }
    .col-33{
        width: 100%;
    }
    .col-25{
        width: 100%;
    }
    #navbar{
        padding: 50px 0;
    }
    .nav{
        display: none;
    }
    #navbar #nav-btn:checked ~ .nav{
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
        padding: 0px 210px;
        background-color: rgba(0,0,0,0.7);
    }
    .nav a{
        padding: 8px 0;
        display: block;
        color: white;
    }
    #section2 button{
        margin: 50px 0;
    }
    #section3 .row{
        flex-direction: column-reverse;
    }
    #section3 button{
        margin: 50px 0;
    }
    #section4 button{
        margin: 50px 0;
    }
    .ban4, .ban3 , .ban2{
        display: none;
    }
    .hright, .hleft{
        background-color: #122341;
    }
    .img2, .img4{
        width: 50%;
        position: absolute;
        top: 50px;
        left: 360px;
    }
    .img3{
        width: 50%;
        position: absolute;
        top: 50px;
        left: -50px;
    }
    .bod2, .bod4{
        width: 54%;
        position: absolute;
        top: 40px;
        left: 350px;
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.26));
    }
    .bod3{
        width: 54%;
        position: absolute;
        top: 35px;
        left: -60px;
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.26));
    }
    .leaf{
        display: none;
    }
    .row8{
        margin: 0 105px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .col-50{
        width: 100%;
    }
    .col-33{
        width: 100%;
    }
    .col-25{
        width: 50%;
    }
    #navbar #nav-btn:checked ~ .nav{
        padding: 0px 300px;
    }
    .circle{
        margin: 100px;
        padding: 90px 0;
        border-radius: 300px;
    }
    .row8{
        margin: 0 150px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .col-50{
        width: 50%;
    }
    .col-33{
        width: 33.33%;
    }
    .col-25{
        width: 25%;
    }
    #navbar{
        padding: 80px 0;
    }
    #navbar label{
        display: none;
    }
    #navbar .nav{
        display: block;
    }
    .nav ul{
        display: flex;
    }
    .nav a{
        padding-right: 40px;
    }
    #section2 p{
        text-align: right;
        margin-left: 90px;
    }
    #section3 .row{
        flex-direction: row;
    }
    #section3 p{
        text-align: left;
        margin: 180px 90px 180px 0;
    }
    #section4 p{
        text-align: right;
        margin-left: 90px;
    }
    #section2 button{
        margin: 95px 0;
    }
    #section3 button{
        margin: 80px 0;
    }
    #section4 button{
        margin: 80px 0;
    }
    .hright, .hleft{
        background-color: transparent;
    }
    .ban4, .ban3, .ban2{
        display: block;
    }
    .img2, .img4{
        width: 24%;
        position: absolute;
        top: 130px;
        left: 370px;
    }
    .img3{
        width: 26%;
        position: absolute;
        top: 190px;
        left: 370px;
    }
    .bod2, .bod4{
        width: 26%;
        position: absolute;
        top: 120px;
        left: 360px;
    }
    .bod3{
        width: 28%;
        position: absolute;
        top: 178px;
        left: 360px;
    }
    .circle{
        margin: 40px;
        padding: 50px 0;
        border-radius: 300px;
    }
    .leaf{
        display: block;
        width: 20%;
        left: 320px;
    }
    .voucher p{
        margin: 0 40px;
    }
    .row8{
        margin: 0;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .col-50{
        width: 50%;
    }
    .col-33{
        width: 33.33%;
    }
    .col-25{
        width: 25%;
    }
    .row8{
        flex-wrap: nowrap;
    }
    #section2 p{
        margin-left: 180px;
    }
    #section2 button{
        margin-bottom: 175px;
    }
    #section3 p{
        margin-right: 180px;
    }
    #section4 p{
        margin-left: 180px;
    }
    #section4 button{
        margin-bottom: 175px;
    }
    .img2, .img4{
        width: 30%;
        position: absolute;
        top: 130px;
        left: 420px;
    }
    .img3{
        width: 30%;
        position: absolute;
        top: 150px;
        left: 420px;
    }
    .bod2, .bod4{
        width: 32%;
        position: absolute;
        top: 117px;
        left: 410px;
    }
    .bod3{
        width: 32%;
        position: absolute;
        top: 135px;
        left: 410px;
    }
     .circle{
        margin: 40px 70px;
        padding: 60px 0;
        border-radius: 300px;
    }
    .leaf{
        left: 390px;
    }
}

@794